* {
    margin: 0 auto;
}
body {
    height: 100%;
    background: linear-gradient(white, rgb(158, 158, 157));
    margin: 0;
    justify-content: center;
}

#gameboard {
    height: 90%;
    width: 700px;
    max-width: 700px;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#scorecard {
    display: flex;
    justify-content: start;
    width: 700px;
    margin: auto;
    color: rgb(63, 63, 189);
    font-size: 30px;
}

#scorecard b {
    margin: 0 1em 0 0;
}

.boardcell {
    max-height: 200px;
    min-height: 200px;
    margin-top: 10px;
    flex: 0 0 33%;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 90px;
}

#display {
    margin-bottom: 20px;
    display: flex;
    width: 700px;
    margin: auto;
    color: blue;
    font-size: 30px;
}

#flash {
    padding: 0;
    height: 125px;
    width: 700px;
    text-align: center;
    display: none;
    vertical-align: baseline;
    position: fixed;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    z-index: 1;
    background-color: blueviolet;
    color: black;
    font-size: 60px;
    border: 3px solid black;
}